<div class="flex-center column">
    <h1 class="text-center">App Name</h1>
    <form action="/api/auth/resetPassword" method="POST">

        {{#success}}
        <div class="alert success"> Password changed successfully! </div>
        {{/success}}

        {{#error}}
        <div class="alert error"> {{error}} </div>
        {{/error}}

        {{#userId}}
        <div class="form">
            <h3>Reset Password</h3>
            <input type="hidden" value={{userId}} name="userId">
            <input type="hidden" value={{resetPasswordHash}} name="resetPasswordHash">
            <input type="password" name="password" placeholder="New Password">
            <input type="password" name="confirmPassword" placeholder="Confirm New Password">
            <br>
            <button type="submit" class="btn">Submit</button>
        </div>
        {{/userId}}
    </form>
</div>